body {
	background-color: #394082;
	color: white;
	font-family: Tahoma;
	font-size: 16px;
}
label {
	display:  block;
	margin: 0.5rem 0;	
}
h1, p {
	margin: 1em auto;
	text-align: center;
}
form {
	width: 60vw;
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
}
fieldset {
	border: none;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 0px;
	padding-right: 0px;
}